* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.movie-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
h1 {
  margin: 15px;
}
